@charset "UTF-8";

.reviewsTop {
	font-size: 18px;
    padding: 50px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.reviewsNum {
	font-size: 13pt;
	color: #0a58ca;
}
.reviewWrap {
	padding: 20px;
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.reviewProfile {
	width: 60px;
    margin-right: 15px;
    display: block;
}
.reviewProfile > img {
	border-radius: 50%;
}
#reviewContent {
	flex: 1 1 0%;
}
.reviewStoreDetail {
	display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 60px;
}
.reviewStoreDetailTop {
	display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.reviewStoreName {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.reviewDate {
	font-size: 13px;
    color: rgb(204, 204, 204);
}
#reviewContent > .storeStarsWrap {
	display: block;
}
.storeStars {
	display: flex;
}
.reviewProductLink {
	margin: 10px 0px;
}
.reviewProductBtn {
	padding: 0px 10px;
    height: 30px;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    background: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
}
.reviewProductBtn > img {
	margin-left: 10px;
}
.reviewContent {
	margin: 20px 0px;
    white-space: pre-wrap;
    line-height: 1.5;
}
.reviewSingo {
	display: flex;
}
.reviewSingoBtn {
	color: rgb(136, 136, 136);
    font-size: 13px;
    display: flex;
    -webkit-box-align: unset;
    align-items: unset;
    margin-right: 25px;
    position: relative;
}
.reviewSingoBtn > img {
	margin-right: 4px;
}
.reviewSingoBtn:last-child::after {
    border-right: 0px;
}
.reviewSingoBtn::after {
    content: "";
    width: 1px;
    height: 13px;
    position: absolute;
    border-right: 1px solid rgb(238, 238, 238);
    top: 1px;
    right: -14px;
}
/* 상품후기 작성 창 */
.reviewForm {
	border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
}
.reviewContent {
	width: 100%;
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.reviewTextarea {
	width: 100%;
    height: 100%;
    resize: none;
    font-size: 13px;
    line-height: 1.5
}


