@charset "UTF-8";

input[type=text], input[type=password], input[type=tel]{
        border : 0px;
        height : 30px;
        margin : 5px;
        border-bottom: #9dbcea 1px solid;
        font-size: 12pt;
    }
    .caution{
        color : rgba(153, 0, 33, 0.781);
        border : 1px;
        font-size: 10pt;
        font-weight: bold;
    }
    #title{
        font-size : 25pt;
        color : #0a58ca;
    }
    input[type=button]{
        height: 30px;
        background-color: #0a58ca;
        border : 0px;
        width : 120px;
        color: white;
        font-weight: bold;
    }
    fieldset{
        font-size:10pt;
    }
    
   
    #agreement{
        color: black;
        font-weight: bold;
        font-size: 12pt;
    }  
    
/*     ========================   */
    #joinBtn, #loginBtn, #updateBtn{
        background-color: #0a58ca;
        border : 0px;
        width : 365px;
        height: 60px;
        color: white;
        font-weight: bold;
        font-size: 14pt;
    }
    #chooseIdBtn, #choosePwdBtn{
        background-color: #0a58ca;
        border : 0px;
        width : 400px;
        height: 70px;
        color: white;
        font-weight: bold;
        font-size: 14pt;
    }
    span{
        font-size: 10pt;
    }
    a{
        font-size: 10pt;
        text-decoration: none;
        color:black;
    }
    #kakao{
        height: 50px;
        background-color: #ecd500;
        border : 0px;
        width : 365px;
        color: white;
        font-weight: bold;
        font-size: 14pt;
    }
    #tel1, #sido{
    	height: 50px;
    	font-size: 14pt;
    	border: none;
    }
/* 로고 이미지 */
.logo_full{
	width: 350px;
	height: 56px;
	display:block;
	margin: 0px auto;
}


