<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSQL">

	<select id="getMemberList" parameterType="java.util.Map" resultType="member.bean.MemberDTO">
		select * from(select rownum rn, tt.* from(
		select * from members)tt)
		where rn between #{startNum} and #{endNum}
	</select>
<!-- 총글수 -->
	<select id="getTotalA" resultType="Integer">
		select count(*) from members
	</select>
<!-- 회원조건검색 -->
	<select id="getSearchMember" parameterType="java.util.Map" resultType="member.bean.MemberDTO">
		<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from members where ${searchType} like '%'||#{keyword}||'%')tt
		)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
<!-- 검색한 후 총글수 -->
	<select id="getTotalB" resultType="Integer">
		select count(*) from members where ${searchType} like '%'||#{keyword}||'%'
	</select>
<!-- 상세보기 -->	
	<select id="getMemberView" parameterType="String" resultType="admin.bean.AdminMembersDTO">
		select * from members join store using(mem_id) where mem_id like #{id}
	</select>
<!-- 판매중인물건 총개수 -->
	<select id="totalSellProduct" parameterType="String" resultType="Integer"> 
		select count(*) from members join product using(mem_id) where mem_id like #{id}
	</select>


<!-- 상점리스트출력 -->
	<select id="getStoreList" parameterType="java.util.Map" resultType="store.bean.StoreDTO">
		select * from(select rownum rn, tt.* from(
		select * from store)
		tt)where rn between #{startNum} and #{endNum}
	</select>
<!-- 상점리스트 총개수 -->
	<select id="getTotalC" resultType="Integer">
		select count(*) from store join members using(mem_id)
	</select>
<!-- 상점 상세보기 -->	
	<select id="getStoreView" parameterType="String" resultType="admin.bean.AdminMembersDTO">
		select * from store join members using(mem_id) where mem_id like #{id}
	</select>
<!-- 상점조건검색 -->
	<select id="getSearchStoreList" parameterType="java.util.Map" resultType="store.bean.StoreDTO">
		<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from store where ${searchType} like '%'||#{storeKeyword}||'%')tt
		)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
<!-- 상점 조건검색 후 총개수 -->
	<select id="getTotalD" parameterType="java.util.Map" resultType="Integer">
		select count(*) from store where ${searchType} like '%'||#{storeKeyword}||'%'
	</select>
	
<!-- 상점상세보기_물건출력 -->	
	<select id="getProductList" parameterType="String" resultType="product.bean.ProductDTO">
		select * from product where mem_id like #{id} order by product_seq desc
	</select>
<!-- 상점목록_물품리스트에서 삭제 -->
	<delete id="store_productDelete" parameterType="java.util.Map">
		delete product where product_seq in
		<foreach collection="array" item="data" index="i" open="(" close=")" separator=",">
			<!-- ${array[i]} -->
			#{data}
		</foreach>
	</delete>
	
	
</mapper>