<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberSQL" >
	
<!-- ▶  회원가입 -->
 	<insert id="join" parameterType="member">
 		insert into members values(#{mem_id}, #{mem_pwd}, #{mem_name}, #{mem_email}, 
 									#{mem_add1},#{mem_add2}, #{mem_postcode},
 									'','', '',	
 									#{mem_tel}, 
 									'', '',	
 									sysdate, 0)
 	</insert> 
<!-- ▶ 아이디 중복 체크 / 회원정보수정용 회원 데이터 전체 출력  -->
 	<select id="getData" parameterType="String" resultType="member">
 		select * from members where mem_id = #{mem_id}
 	</select>
 	

<!-- ========================================================================= -->
<!-- ▶  로그인 / 본인 재확인-->
 	<select id="login" parameterType="java.util.Map" resultType="member">
 		select * from members where mem_id = #{id} and mem_pwd = #{pwd}
 	</select>
<!-- ▶ 아이디찾기-->
 	<select id="findId" parameterType="String" resultType="member">
 		select * from members where mem_email = #{mem_email}
 	</select>
<!-- ▶비밀번호찾기-->
 	<select id="findPwd" parameterType="java.util.Map" resultType="member">
 		select * from members where mem_id = #{mem_id} and mem_email = #{mem_email}
 	</select>
<!-- ▶  비밀번호 재설정 -->
 	<update id="resetPwd" parameterType="java.util.Map" >
 		update members set mem_pwd = #{mem_pwd} where mem_email = #{mem_email}
 	</update>
 	
 	
 <!-- 카카오 로그인======================================= -->
 	<select id="checkEmail" parameterType="String" resultType="member">
 		select * from members where mem_email = #{email}
 	</select>
<!--  	처음 로그인한 카카오 데이터 회원가입 -->
 	<insert id="joinKakao" parameterType="java.util.Map">
 		insert into members values(#{email}, #{mem_pwd}, '주문 정보를 등록해주세요', #{email}, 
 									'주문 정보를 등록해주세요','주문 정보를 등록해주세요', '',
 									'','', '',	
 									'주문 정보', 
 									'', '',	
 									sysdate, 1)
 	</insert> 
<!--  	카카오 데이터의 유니크 값 email가져오기 -->
 	<select id="selectKakao" parameterType="java.util.Map" resultType="member">
 		select * from members where mem_email = #{email}
 	</select>
 	
 	
 	
 	
 	
<!-- ========================================================================= -->
<!-- ▶ 마이페이지 -->
 	<select id="certify" parameterType="java.util.Map" resultType="member">
 		select * from members where mem_id = #{mem_id} and mem_pwd = #{mem_pwd}
 	</select>
 	
<!-- ▶  수정 데이터로 업데이트 -->
 	<update id="update" parameterType="member" >
 		update members set mem_name = #{mem_name}
	 						, mem_pwd = #{mem_pwd}
	 						, mem_email = #{mem_email}
	 						, mem_tel = #{mem_tel}
	 						, mem_postcode = #{mem_postcode}
	 						, mem_add1 = #{mem_add1}
	 						, mem_add2 = #{mem_add2}
 		where mem_id = #{mem_id}
 	</update>

<!-- ▶  탈퇴 -->
 	<delete id="withdraw" parameterType="String">
 		delete from members where mem_id=#{mem_id}
 	</delete>
 	
</mapper>
























