<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="member.bean.MemberDTO" alias="member"/>
		<typeAlias type="product.bean.ProductDTO" alias="product"/>
		<typeAlias type="product.bean.CategoryDTO" alias="category"/>
		<typeAlias type="store.bean.StoreDTO" alias="store"/>
		<typeAlias type="board.bean.BoardDTO" alias="board"/>
		<typeAlias type="board.bean.CommentDTO" alias="comment"/>
	</typeAliases>
</configuration>