@charset "UTF-8";
.logo_image{
	width: 56px;
	height: 56px;
	display:block;
	margin: 0px auto;
	display: inline;
	
}
input[type=button]:hover{
	background: #0d47a1;
	
}
.title{
	font-size : 25pt;
        color : #0a58ca;
}
input[type=button]{
        height: 30px;
        background-color: #0a58ca;
        border : 0px;
        width : 120px;
        color: white;
        font-weight: bold;
    }
input[type=search]{
    border : 0px;
    height : 30px;
    margin : 5px;
    border-bottom: #9dbcea 1px solid;
    font-size: 12pt;
}


#boardListTable{
	 border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

/* boardPaging */
#boardPagingDiv {
	display: flex;
}
#currentPaging {
	width: 33px;
    height: 33px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 2px;
    border: 1px solid #0a58ca;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background: #0a58ca;
}
#paging {
	width: 33px;
    height: 33px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 2px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: rgb(155, 153, 169);
}

.pagingWrap {
    padding: 2rem 0px 3rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}







