@charset "UTF-8";

/* 상단 */
#chatListBtn {
	font-size: 15px;
	cursor: pointer;
	border: 0;
	color: black;
}
/* 더치트 조회 버튼, 나가기 버튼 정도..? */

#chatRoomSubject {
	font-size: 20px;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	color: black;
	background-color: white;
	border: none;
	padding: 5px 5px;
}


/* 메세지 출력창 */
#chat-container{
	vertical-align: bottom;
	width: 100%;
	min-height: 400px;
	max-height: 400px;
	overflow: scroll;
	overflow-x: hidden;
	background: #f4f4fa;
	display: inline-block;
}

.chat{
	font-size: 15px;
	color: black;
	background: #ffffff;
	margin: 3px;
	padding: 7px;
	min-width: 18px;
	min-height: 15px;
	width: auto;
	height: auto;
	text-align: left;
    word-break : break-all;
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
}

.my-chat{
	text-align: left;
	color: rgb(255, 255, 255);
	background: #0a58ca;
}

.chat-box{
	text-align:left;
}

.my-chat-box{
	text-align: right;
}

.notice{
	font-size: 12px;
	color: #039be5;
	border : none;
	text-align: center;
	background-color: #f4f4fa;
	display: block;
}

.chat-info{
	color:#556677;
	font-size: 10px;
	text-align: right;
	padding: 5px;
	padding-top: 0px;

}


/* 메세지 입력창 */
#inputMessage{
	width: 300px;
	height: 30px;
	backgorund-color: #f4f4fa;
	border: solid 1px #039be5;
	border-radius: 10px;
}
#sendBtn{
	background: #039be5;
	width: 40px;
	height: 30px;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 30px 30px 30px 30px;
}