@charset "UTF-8";

@media all and (min-width: 992px) {
	.dropmenu {
		display: none;
	}
	.dropdown-button:hover .dropmenu {
		display: block;
	}
}

.dropmenu {
	height: 100%;
	width: 100%;
	position: relative;
	top: 5px;
	border: 1px solid #eee;
	border-top: none;
	margin: 0px;
	padding: 0px;
}

.dropmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropmenu li {
	float: left;
	padding: 0px;
}

.dropmenu li a {
	font-size: 20px;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

.dropmenu ul>li>a:hover {
	color: #000;
}

.dropmenu li ul {
	display : block;
	border: 1px solid #eee;
	background: white;
	width: 250px;
	overflow-y: auto;
	background: white;
	height: 430px;
	min-height: 430px;
}

.dropmenu li:hover ul {
	display: block;
}

.dropmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.dropmenu li:hover li a {
	background: none;
}

.dropmenu li p {
	border: 1px solid #eee;
	background: white;
	padding: 12px 30px 12px 30px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
}

.dropmenu li ul a {
	padding: 5px 30px;
	display: block;
	font-size: 14px;
	margin: 0px;
	text-align: left;
}

.dropmenu ul li:first-child a.active {
	border: 0px;
	color: #ffffff;
	background: #0d47a1;
	text-decoration: none;
}

.dropmenu ul li:nth-child(2) a:hover {
	color: #0d47a1;
	text-decoration: underline;
}

.dropmenu p {
	clear: left;
}