@charset "UTF-8";

.dropmenu {
	display : none;
	position: relative;
	top: 5px;
	border: 1px solid #eee;
	border-top: none;
	margin: 0px;
	padding: 0px;
}

.dropmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropmenu li {
	float: left;
	padding: 0px;
}

.dropmenu li a {
	font-size: 20px;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

.dropmenu ul>li>a:hover {
	color: #000;
}

.dropmenu li ul {
	border: 1px solid #eee;
	background: white;
	position: relative;
	width: 250px;
	background: white;
}

.dropmenu li:hover ul {
	display: block;
}

.dropmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.dropmenu li:hover li a {
	background: none;
}

.dropmenu li ul  p {
	padding: 12px 30px 12px 30px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
}

.dropmenu li ul a {
	padding: 5px 30px;
	display: block;
	font-size: 14px;
	margin: 0px;
	text-align: left;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a {
	border: 0px;
	color: #ffffff;
	background: skyblue;
	text-decoration: none;
}

.dropmenu p {
	clear: left;
}