@charset "UTF-8";

@media all and (min-width: 992px) {
	.dropmenu {
		display: none;
	}
	.dropdown-button:hover .dropmenu {
		display: block;
	}
	.dropSearch {
		display: none;
	}
	#searchProduct:focus .dropSearch {
		display: block;
	}
}

.dropmenu {
	height: 100%;
	width: 100%;
	position: relative;
	top: 5px;
	border: 1px solid #eee;
	border-top: none;
	margin: 0px;
	padding: 0px;
}

.dropmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropmenu li {
	float: left;
	padding: 0px;
}

.dropmenu li a {
	font-size: 20px;
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
}

.dropmenu ul>li>a:hover {
	color: #000;
}

.dropmenu li ul {
	display: block;
	border: 1px solid #eee;
	background: white;
	width: 250px;
	overflow-y: auto;
	background: white;
	height: 430px;
	min-height: 430px;
}

.dropmenu li:hover ul {
	display: block;
}

.dropmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.dropmenu li:hover li a {
	background: none;
}

.dropmenu li p {
	border: 1px solid #eee;
	background: white;
	padding: 12px 30px 12px 30px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
}

.dropmenu li ul a {
	padding: 5px 30px;
	display: block;
	font-size: 14px;
	margin: 0px;
	text-align: left;
}

.dropmenu ul li:first-child a.active {
	border: 0px;
	color: #ffffff;
	background: #0d47a1;
	text-decoration: none;
}

.dropmenu ul li:nth-child(2) a:hover {
	color: #0d47a1;
	text-decoration: underline;
}

.dropmenu p {
	clear: left;
	margin-bottom: 0px;
}

.dropSearch {
	top: 54px;
	height: 425px;
	width: 394px;
	background: white;
	position: absolute;
	border: 1px solid #eee;
	border-top: none;
	margin: 0px;
	padding: 0px;
	top: 54px;
	display:none;
}

.dropSearch ul>li>ul>div {
	padding: 4px 20px;
	border: none;
	color: #333;
}

.dropSearch ul>li>ul>div>i {
	float: right;
	position: relative;
	color: #aaa;
	line-height: inherit;
	cursor: pointer;
}

.dropSearch ul>li>p {
	color: #5587ED;
	padding: 8px 15px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #5587ED;
}

.dropSearch ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 325px;
	list-style: none;
}

.dropSearch .close {
	display : inline-block;
	width: 100%;
	border: none;
}

/* 최근 검색어 전체 삭제, 닫기 */
.dropSearch .close a {
	cursor: pointer;
	color: #aaa;
}

/* 최근 검색어 전체 삭제 */
.dropSearch .close a:first-child {
	float: left;
}

/* 최근 검색어 목록 닫기 */
.dropSearch .close a:last-child {
	float: right;
}

.dropSearch li {
	width: 100%;
	float: left;
	padding: 0px;
	float: left;
}