@charset "UTF-8";

@import url(common.css);

body {
	padding: 0;
	height: 100%;
}

.login-box {
	display: flex;
}

.login-btn {
	width: 1024px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.login-btn a, .login-btn span {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 12px;
	color: rgb(102, 102, 102);
	position: relative;
	line-height: 1.4;
	padding: 0px 10px;
}

#header {
	position: sticky;
	top: 0;
	z-index: 1020;
	background: white;
	border-bottom: 1px solid #eee;
}

#headerLogin {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	height: 40px;
	border-bottom: 1px solid rgb(238, 238, 238);
	background: rgb(255, 255, 255);
	padding-top: 0px;
	padding-bottom: 0px;
}

#headerLogin a {
	font-size: 12px;
	font-weight: 600;
}

#header #headerLogin {
	text-align: right;
}

#headerMain {
	width: 1024px;
	margin: 0px auto;
	margin-top: 20px;
}

#headerMain .first {
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: flex-end !important;
	padding: 0px !important;
	margin: 0 !important;
}

/* 메뉴 보기 버튼 */
#headerMain .dropdown {
	text-align: left;
	margin-top: 20px;
}

.dropdown-area {
	display: flex;
	align-items: center;
	height: 70px;
}

#headerMain .dropdown i {
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
}

#headerMain .dropdown i:hover {
	color: #5587ED;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-logo {
	height: 100%;
	line-height: 40px;
	float: left;
	margin-right: 100px;
	width: 100px;
	color: #5587ED;
}

.main-logo h5 {
	font-weight: 900;
	display: inline-block;;
}

.cateList {
	position: absolute;
    top: 27px;
    left: -1px;
    width: calc(100% + 2px);
    background: rgb(255, 255, 255);
    max-height: 280px;
    overflow-y: auto;
    z-index: 1;
    border-left: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
    display: none;
}
.fas fa-bars {
    width: 100%;
    height: 28px;
    padding: 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(247, 47, 51);
}
.cateBig {
	width: 100%;
    height: 28px;
    padding: 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


/* 메인 상단 검색 */
.search-area {
	float: left;
	margin-top: 20px;
	margin-left: 35px;
	margin-right: 55px;
}

.search-area div {
	padding: 5px 10px;
	border: 2px solid #5587ED;
	vertical-align: center;
	display: block;
}

.search-area div>input {
	border: none;
	padding: 0px;
	width: 350px;
	margin: 0px;
	height: 20px;
	font-size: 12px;
	font-weight: 600
}

.search-area div>input:focus {
	outline: none;
}

.search-area div>i {
	color: #5587ED;
	position: relative;
	top: 50%;
	right: 0px;
}

/* 메인 버튼 */
.header-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.header-btn a {
	font-size: 12px !important;
	font-weight: 600;
	margin-right: 20px;
	cursor: pointer;
	margin-right: 20px;
}

#container {
	width: 100%;
}

/* nav start */
/* navBanner */
.navBanner {
	position: fixed;
	top: 130px;
	right: calc(50% - 630px);
	z-index: 1050;
}

/* 찜한 상품 */
.favorites {
	padding: 10px; 0 px;
	background: white;
	margin: 10px 0px;
	width: 100px;
	height: 70px;
	border: 1px solid gray;
}

.favoritesText {
	text-align: center;
	font-size: 12px;
}

.favoritesCount {
	color: #666;
	text-align: center;
}

/* 최근 본 상품 */
.recently {
	background: white;
	margin: 10px 0px;
	padding: 0px;
	width: 100px;
	height: 280px;
	border: 1px solid gray;
}

.recentlyText {
	margin-top:10px;
	font-size: 12px;
	text-align: center;
}

.recentlyCnt {
	margin-top: 5px;
	font-size: 12px;
	text-align: center;
}

.toRecently {
	color: rgb(247, 0, 0);
}

/* TOP */
.totheTop {
	margin: 10px 0px;
	width: 100px;
	height: 40px;
	border: 1px solid gray;
	text-align: center;
}

.topText {
	cursor: pointer;
	margin: 0px 0px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 22px;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.col-3 {
	width: 20% !important;
	padding: 0px 5px !important;
}

/* nav end */
.item img {
	width: 100%;
	height : 100%;
	object-fit: cover;
}

/* footer start */
#footer {
	/* border: 1px solid blue;	 */
	position: relative;
	margin-top: -101px;
	background-color: #fff;
}

#footer .footerArea {
	/* border: 1px solid red; */
	border-top: 1px solid #cccccc;
	padding: 0;
	height: 100px;
	margin: 0 auto;
	color: #666;
	font-size: 0.9em;
}

#footer .footerArea:after {
	content: "";
	display: block;
	clear: both;
}

.btmnav {
	float: right;
	margin-top: 18px;
}

.btmnav dd {
	float: left;
	font-size: x-large; /* x-large; */
}

.btmnav dd a {
	text-decoration: none;
	color: #61615b;
}

.btmnav dd:after {
	content: "|";
	padding: 0 0.7em;
	color: #999;
}

.btmnav dd:last-child:after {
	content: "";
	padding: 0 0;
}

.copy {
	float: left;
	line-height: 1.8;
	margin-left: 20px;
	margin-top: 18px;
}

#footer {
	width: 100%;
	height: 30%;
}

.footerArea dd {
	font-size: 13px !important;
	font-weight: 600;
}

.footerArea {
	width: 100%;
}

.footer-logo {
	float: left;
}

.introduce {
	float: left;
	line-height: 1.4;
}

.introduce p {
	line-height: 1.2;
	font-size: 10px;
}

/* footer end */

/* display */
.adPlace {
	margin-top: 30px;
	margin-bottom: 30px;
}

.item {
	margin-bottom: 10px;
}

#itemSolid {
	border: 1px solid #e4e8f0;
}

#displayHeader {
	
}

.img-box {
	position: relative;
	width: 100%;
	height: 220px;
}

.text-box {
	padding: 15px 20px;
	height: 95px;
}

.displayName {
	position: relative;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 15px;
}

.price-time {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 20px;
}

.price-time .displayPrice {
	font-size: 16px;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.price-time .displayTime {
	font-size: 12px;
	color: rgb(136, 136, 136);
}

#moreShow {
	text-align: center;
}

.pe-auto {
	text-decoration: none;
	color: #61615b;
	font-size: 20px;
	line-height: 0.01em;
}